.profil-card {
  margin-top:75px;
  background-color: #fff;
  width: 80%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-radius: 20px;
  margin-bottom:50px;
}

.profil-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  background: #353b48;
  display:block;
  height: 5px;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.658);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
  height: 2px;
  float:left;
  background: #2187e7;
}

.html {
  width:90%;
  animation: html 3s;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.css {
  width:80%;
  animation: css 3s;
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.js {
  width:85%;
  animation: js 3s;
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

.react {
  width:90%;
  animation: react 3s;
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.express {
  width:80%;
  animation: express 3s;
}
@keyframes express {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.mysql {
  width:75%;
  animation: mysql 3s;
}
@keyframes mysql {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

.c {
  width:35%;
  animation: c 3s;
}
@keyframes c {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

.github {
  width:95%;
  animation: github 3s;
}
@keyframes github {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

.resp {
  width:90%;
  animation: resp 3s;
}
@keyframes resp {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.level {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profil-levels {
  padding-top:50px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.profil-img {
  width: 150px;
  height: 150px;
}

@media (min-width: 600px) {
  .profil-infos {
    flex-direction: row;
  }
}
@media (min-width: 400px) {
  .bar{
    width:200px;
  }
}

@media (min-width: 500px) {
  .bar{
    width:250px;
  }
}

@media (min-width: 900px) {
  .profil-levels {
    grid-template-columns: repeat(2, 1fr);
  }
  .profil-img {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .profil-levels {
    grid-template-columns: repeat(3, 1fr);
  }
  .profil-img {
    width: 300px;
    height: 300px;
  }
  .profil-card {
    max-width: 950px;
  }
}

.profil-button {
  margin-top:25px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 44px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black
}

.profil-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.profil-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.profil-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.profil-detail a {
  text-decoration: none;
  color : black;
}