.project-card {
  margin-left: auto;
  margin-right: auto;
  width:80%;
  max-width:400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  grid-gap: 80px;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 25px;
  align-items: center;
}

.project-img {
  width:200px;
  height: 200px;
  margin-bottom: 20px;
}

.project-desc {
  overflow-y: auto;
  max-height: 300px;
}

.project-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.project-techno {
  margin-top:20px;
  list-style: none;
}

.project-detail {
  display: flex;
  flex-direction: column;
}

.project-button {
  margin-top:25px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 44px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.project-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.project-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.project-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.project-detail a {
  text-decoration: none;
  color : black;
}

@media (min-width: 900px) {
  .project-techno {
    margin-left: 45px;
  }
  .project-card {
    flex-direction: row;
    width: 800px;
    max-width: 800px;
    transition: transform .2s;
  }

  .project-card:hover {
    transform: scale(1.2);
    max-width: 900px;
    border: solid 1px;
  }

  .project-infos {
    flex-direction: row;
  }
}